@use './variables' as v;

.latest{
    padding-top: 5rem;
    text-align: center;
    padding-bottom: 4rem;
    background-color: v.$very-light-gray;

    &__h2{
        font-size: 1.9rem;
        font-weight: 400;
        color: v.$dark-blue;
        margin-bottom: 1.5rem;
    }

    &__articles{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    &__article{
        width: 300px;
        background-color: v.$white;
    }

    .article__img{
        border-radius: 0.5rem 0.5rem 0 0;
        width: 100%;
        height: 13rem;
        background-image: url('../images/image-currency.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .article__img-2{
        background-image: url('../images/image-restaurant.jpg');
    }

    .article__img-3{
        background-image: url('../images/image-plane.jpg');
    }

    .article__img-4{
        background-image: url('../images/image-confetti.jpg');
    }

    .article__info{
        // width: 80%;
        margin: 0 auto;
        text-align: left;
        padding: 1.8rem;

        small{
            font-size: 0.7rem;
            color: v.$grayish-blue;
            // margin-bottom: 1rem;
        }

        h5{
            font-size: 1rem;
            color: v.$dark-blue;
            margin: 0.7rem 0;
            font-weight: 400;
        }
        
        h5:hover{
            cursor: pointer;
            color: v.$lime-green;
        }

        p{
            font-size: 0.8rem;
            line-height: 1.2rem;
        }

    }
}

@media screen and (min-width: 768px) {
    .latest{
        padding-top: 5rem;
        text-align: center;
        padding-bottom: 4rem;
    
        &__h2{
            // font-size: 1.9rem;
            // font-weight: 400;
            // color: v.$dark-blue;
            margin-bottom: 2.5rem;
            text-align: left;
        }
    
        &__articles{
            // display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: inherit;
            // margin: 0 auto;
            text-align: left;
            gap: 1rem;
        }

        &__article{
            width: 244px;
        }
    
        // .article__img{
        //     border-radius: 0.5rem 0.5rem 0 0;
        //     width: 100%;
        //     height: 13rem;
        //     background-image: url('../images/image-currency.jpg');
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     overflow: hidden;
        // }
    
        // .article__img-2{
        //     background-image: url('../images/image-restaurant.jpg');
        // }
    
        // .article__img-3{
        //     background-image: url('../images/image-plane.jpg');
        // }
    
        // .article__img-4{
        //     background-image: url('../images/image-confetti.jpg');
        // }
    
        .article__info{
            padding: 1rem;
        }
    }
}

@media screen and (min-width: 1280px) {
    .latest{
    
        &__articles{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}