@use './variables' as v;

.easybank{
    padding-top: 4.5rem;
    text-align: center;
    background-color: v.$light-grayish-blue;

    &__articles{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    &__h2{
        color: v.$dark-blue;
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__p{
        margin-bottom: 3.5rem;
    }

    &__article{
        width: 300px;
    }

    .article__h4{
        font-size: 1.3rem;
        font-weight: 400;
        color: v.$dark-blue;
        margin-bottom: 1rem;
    }

    .article__p{
        margin-bottom: 2.5rem;
        line-height: 1.7rem;
        font-size: 0.9rem;
    }
    padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {

    .easybank{
    
        &__articles{
            grid-template-columns: 1fr 1fr;
            max-width: inherit;
            text-align: left;
            gap: 1rem;
        }
    
        &__h2{
            text-align: left;
        }
    
        &__p{
            text-align: left;
            max-width: 50%;
        }

        &__article{
            width: 244px;
        }

        .article__img{
            margin-bottom: 1rem;
        }
    }
}

@media screen and (min-width: 1280px) {
    .easybank{
    
        &__articles{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}