@use './variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-style: none;
    list-style: none;
}

body{
    font-family: 'Public Sans', sans-serif;
}

.button{
    padding: 0.9rem 1.8rem;
    background-image: linear-gradient(to right, v.$lime-green, v.$bright-cyan);
    color: v.$light-grayish-blue;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 7rem;
}

.button:hover{
    cursor: pointer;
    filter: opacity(0.50);
}

p{
    color: v.$grayish-blue;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.container{
    width: v.$container-sm;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
    .container{
        width: v.$container-md;
    }
}

@media screen and (min-width: 1280px){
    .container{
        width: v.$container-bg;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }