@use './variables' as v;

.header{
    width: 100%;
    background-color: v.$white;
    text-align: center;
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;

    &__right{
        height: 300px;
        margin: 0 calc(-1 * ((100% - v.$container-sm)/2));
        background: url(../images/image-mockups.png) center bottom no-repeat, url(../images/bg-intro-mobile.svg) center no-repeat;
        background-size: 345px, cover;
        margin-bottom: 1rem;
    }

    &__h1{
        font-size: 2.5rem;
        font-weight: 400;
        color: v.$dark-blue;
        margin-bottom: 1rem;
    }

    
}

@media screen and (min-width:768px) {
    .header{

        // &__container{
        //     display: grid;
        //     grid-template-areas: "left right";
        //     grid-template-columns: 1fr 1fr;
        //     // grid-template-columns: 480px 1fr;  EN 1280px
        //     align-items: center;
        //     min-height: 450px;
        //     margin: none;
        // }
        
        &__right{
            // grid-area: right;
            // background: url(../images/image-mockups.png) center bottom no-repeat, url(../images/bg-intro-mobile.svg) center -200px no-repeat;
            // background-size: 345px, cover;
            margin: 0 calc(-1 * 4.5rem); //0 -25%
            margin-bottom: 2rem;
            // min-height: inherit;
        }

        &__left{
            // grid-area: left;
            text-align: left;
        }
    }
}

@media screen and (min-width:1024px) {
    .header{
        // text-align: left;
        background: url(../images/bg-intro-desktop.svg) right -200px top -50px no-repeat;
        background-size: 750px;
        min-height: 650px;

        &__container{
            display: grid;
            grid-template-areas: "left right";
            grid-template-columns: 1fr 1fr;
            align-items: center;
            height: 500px;
            // gap: 5rem;
        }
    
        &__right{
            grid-area: right;
            margin: 0;
            position: absolute;
            min-height: inherit;
            width: 700px;
            right: 0;
            background: url(../images/image-mockups.png) right -80px bottom -20px no-repeat;
            background-size: 500px;
            height: 768px;
            // margin-bottom: 2rem;
        }
    
        &__left{
            grid-area: left;
        }
    }
}

@media screen and (min-width:1280px) {
    .header{
        background: url(../images/bg-intro-desktop.svg) right -200px top -75px no-repeat;
        background-size: 850px;
    
        &__right{
            background: url(../images/image-mockups.png) right -85px bottom -20px no-repeat;
            background-size: 515px;
        }
    }
}