@use './variables' as v;

.nav{
    position: fixed;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 2;
    background-color: v.$white;

    &__container{
        display: flex;
        justify-content: space-between;

    }

    &__link{
        display: none;
        position: fixed;
        top: 5.5rem;
        width: 90%;
        background-color: v.$white;
        margin: 0 auto;
        border-radius: 0.5rem;

        .nav__ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            padding: 1.7rem;
            margin: 0 auto;
            
            .nav__li{

                a{
                    color: v.$dark-blue;
                    font-weight: 700;
                }
            }

        }
    }

    &__button{
        display: none;
    }

    &__close{
        display: none;
    }

    &__hamburger{
        width: 1.6rem;
    }
}

@media screen and (min-width: 1024px) {
    .nav{
        position: fixed;
        width: 100%;
        padding: 1.5rem 0;
        z-index: 2;
        background-color: v.$white;
    
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__link{
            display: flex;
            position: inherit;
            top: 0;
            width: max-content;
            background-color: v.$white;
            margin: 0 auto;
            border-radius: 0.5rem;
    
            .nav__ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.5rem;
                padding: 0;
                margin: 0 auto;
                
                .nav__li{
    
                    a{
                        color: v.$grayish-blue;
                        font-weight: 700;
                    }

                    a:hover{
                        color: v.$dark-blue;
                    }
                }

                .nav__li:hover{
                    border-bottom: 3px solid v.$lime-green;
                }
            }
        }
    
        &__button{
            display: inline-block;
            width: fit-content;
        }
    
        &__close{
            display: none;
        }
    
        &__hamburger{
            display: none;
        }
    }
}