@use './variables' as v;

.nav{
    position: fixed;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 2;
    background-color: v.$white;

    &__container{
        display: flex;
        justify-content: space-between;

    }

    &__logo{

    }

    &__link{
        display: none;
    }

    &__button{
        display: none;
    }

    &__close{
        display: none;
    }

    &__hamburger{
        width: 1.6rem;
    }
}